@use '../variables' as *;

.verticalLayout {
    .v-app-bar {
        .v-toolbar__content {
            padding: 0 20px;
            margin: 0 0;
            background-color: rgba(var(--v-theme-containerBg));
            border-radius: 0 !important;
            box-shadow: 0 0 6px 0 rgba(37, 83, 185, .1) !important;

            >.v-btn:first-child {
                margin-inline-start: 0;
            }

        }

        &.v-toolbar {
            top: 0px !important;
            background-color: rgba(var(--v-theme-background));
            z-index: 2;
            width: calc(100% - 300px);
            margin: 0;
            left: 300px !important;
            right: 0;
            border-radius: 0 !important;
            box-shadow: 0 0 6px 0 rgba(37, 83, 185, 0.1) !important;
        }

        &.sticky {
            top: 0 !important
        }
    }

    &.mini-sidebar {
        .v-app-bar {
            &.v-toolbar {
                left: 85px !important;
            }
        }

    }
}




@media screen and (max-width:1600px) and (min-width:1280px) {
    .verticalLayout {
        .v-app-bar.v-toolbar {
            max-width: calc(100% - 300px) !important;
        }
    }

}

@media screen and (max-width:1279px) {
    .verticalLayout {
        .v-app-bar.v-toolbar {
            width: 100% !important;
            left: 0 !important;
        }
    }

    .v-main {
        padding-left: calc(var(--v-layout-left) + 0px) !important;
    }

}

@media screen and (max-width: 767px) {
    .verticalLayout {
        .v-app-bar.v-toolbar {
            width: 100% !important;
        }
    }

}
 